   *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
background-color: rgb(56, 56, 56);     
color:aliceblue;  }
        
header {
background-color: aliceblue;
color: antiquewhite; 
padding: 20px;
}
.card{

}
